footer{
	width: 100%;
	margin-top: 5rem;
	height: 2rem;
	font-size: 1.4rem;
	line-height: 2rem;
	text-align: center;

	.widget_text{
		color: #fcb900;
		font-size: 1.3em;
		ul{
			padding: 0;
			margin: 0;
			list-style: none;

			@media all and (min-width: $tablet){
				display: flex;
				justify-content: center;
			}

			li{
				margin: 5px 0;
				list-style: none;

				@media all and (min-width: $tablet){
					margin: 0;
					padding: 0 10px;
					position: relative;
				}

				&:after{
					@media all and (min-width: $tablet){
						content: '|';
						position: absolute;
						right:0;
					}
				}

				&:nth-last-of-type(1) {
					&:after{
						@media all and (min-width: $tablet){
							display: none;
						}
					}					
				}
			}
		}
	}

	nav{
		ul{
			padding:0;
			margin:0;
			display: flex;
			list-style: none;
			text-align: center;
			justify-content:center;
			flex-flow:wrap;

			li{
				list-style: none;
				margin: 0;
				padding: 0 10px;
				position: relative;

				@media all and (min-width: $tablet){
					margin: 10px 0;
				}

				a{
					color:$white;
				}

				&:after{
					content: '|';
					position: absolute;
					top: 0;
					right: 0;
				}
				&:nth-last-of-type(1){
					&:after{
						display: none;
					}
				}
			}
		}
	}

	div.links{
		display: flex;
		justify-content: center;
		ul#footer-socials{
			display: flex;
			margin:0 2rem 0 0;
			padding:0;
			
			li{
				list-style: none;
				margin-right: 1rem;
				a{
					font-size: 2rem;
					text-decoration: none;
				}
			}
		}

	}
	
	p{
		margin: 0;
	}

	a{
		color:$white;
		&:hover{
			color:$black;
		}
	}

}