form.wpcf7-form{
	width:100%;

	p{
		margin: 0 0 1.5rem 0;
	}

	textarea,
	input,
	select{
		width: 100%;
		height: 5rem;
		background: $white;
		background-color: rgba($white, 0.9);
		border: 1px solid $yellow;
		border-radius: 5px;
		font-family: 'Mukta-Regular', Arial, sans-serif;
		font-size: 1.6rem;
		line-height: 1.5;
		padding: 0 .75rem;

		&:focus{
			background-color: $white;
		}
	}

	textarea{
		resize:none;
		height:15rem;
		overflow: auto;
	}

	.wpcf7-recaptcha{
		margin-bottom: 1.5rem;		
	}

	button,
	[type="button"],
	[type="submit"] {
		width: 50%;
		height: 5rem;
		color:$black;
		background: $yellow;
		background-color: rgba($yellow, 0.8);
		border: 1px solid $yellow;
		border-radius: 5px;
		font-family: 'Mukta-Regular', Arial, sans-serif;
		font-size: 1.6rem;
		line-height: 1.5;
		padding: 0 .75rem;
		margin-bottom: 1.5rem;
		cursor: pointer;

		&:hover,
		&:focus{
			background-color: $yellow;
		}
		&:active{
			background-color: $black;
			color: $yellow;	
		}
	}
}