#homepage{
	header{
		width: 100%;
		max-width: $desktop;
		margin: 0 auto;
		padding: 2rem;
		display: flex;
		justify-content:space-between;
		align-items:center;

		h1{
			background-image: url(../images/logo-blanc.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			text-indent: -9999px;
			display: block;
			width: 25%;
			height: 12rem;
			margin:0;
			position: relative;
		}

		ul#langs {
			width: 25%;
			display: flex;
			justify-content:center;
			list-style: none;
			padding: 0;

			li{
				list-style: none;
				margin: 0 2rem;
			
				&.current-lang{
					opacity:0.6;
					cursor: not-allowed;

					a{
						pointer-events:none;
						cursor: not-allowed;
					}
				}

				img{
					height: 5rem;
					width: 10rem;
					object-fit:cover;
				}

			}
		}
	}

	main, main b, main em, main strong, main i{
		font-family: Aliens, Arial, sans-serif;
	}
	main em {
		font-size: 3rem;
	}

	nav{
		width: 100%;
		max-width: $desktop;
		margin: 5rem auto 0 auto;
		padding: 2rem;
		ul{
			padding: 0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			li{
				list-style: none;
				width: 100%;
				padding: 0 2rem;
				margin-bottom: 2rem;
				vertical-align: top;
				flex: 1 0 100%;

				@media all and (min-width: $tablet) {
					flex: 1 0 25%;
				}

				a{
					display: block;
					width: 100%;
					height: 100%;
					padding: 7rem .5rem;
					color: white;
					border: .3rem solid;
					text-align: center;
					text-shadow: 0 1px 2px rgba($black, 0.5);
					box-shadow: 0 1px 2px rgba($black, 0.5);
					transition: all .3s ease-in-out;
					transform: scale(1);

					&, b{
						font-family: Aliens, Arial, sans-serif;
						font-size: 4rem;
					}

					&:hover{
						transform: scale(1.05);
					}
		
				}
			}
		}
	}
}