#homepage{

	#content{
		.slogan{
			margin: 15px 0 50px 0;
			@media all and (min-width: $tablet) {
				display: flex;
				align-items:center;
				justify-content:space-between;
			}
			@media all and (min-width: $desktop) {
				justify-content:center;
			}

			h1{	
				width: 18rem;
				height: 15rem;
				display: block;
				position: relative;
				margin: 0 auto 50px auto;
				@media all and (min-width: $tablet) {
					margin: 0 0.5rem 0 0;
				}
				
				a{
					background-image: url(../images/logo-blanc.png);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: contain;
					text-indent: -9999px;
					display: block;
					width: 100%;
					height: 100%;
				}
			}
			blockquote{
				margin: 0 10px;
				font-size: 6rem;
				color: #004c7e;
				text-align: center;
				line-height: .5;

				@media all and (min-width: $tablet) {
					font-size: 8rem;
				}
				@media all and (min-width: $desktop) {
					font-size: 10rem;
				}

				&, & b, & em, & strong, & i{
					font-family: "Jakarta", Arial, sans-serif;
				}
				& em {
					font-size: 3rem;
					@media all and (min-width: $tablet) {
						font-size: 4rem;
					}
					@media all and (min-width: $desktop) {
						font-size: 5rem; 
					}
				}
			}
		}
		
		h2{
			padding: 0 2rem;
			font-size: 1.4em;
			@media all and (min-width: $tablet) {
				font-size: 1.8em;
			}
		}

		.blockquote{
			br{
				@media all and (min-width: $tablet) {
					display: none;
				}
			}
		}

		p.quote{

			text-align: center;
			
			@media all and (min-width: $tablet) {
				text-align: left;
			}
		}
	}
	
	main{
		display: block;
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		padding: 20px 50px;
		&, & b, & em, & strong, & i{
			font-family: Aliens, Arial, sans-serif;
		}
		& em {
			font-size: 3rem;
		}

	}

	nav{
		width: 100%;
		max-width: $desktop;
		margin: 5rem auto 0 auto;
		padding: 2rem;
		@media all and (min-width: $desktop) {
			position: absolute;
			margin: 0 auto 5rem auto;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		ul{
			padding: 0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			li{
				list-style: none;
				width: 100%;
				padding: 0 2rem;
				margin-bottom: 2rem;
				vertical-align: top;
				flex: 1 0 100%;

				@media all and (min-width: $tablet) {
					flex: 1 0 25%;
				}

				a{
					display: block;
					width: 100%;
					height: 100%;
					padding: 4rem .5rem;
					color: white;
					border: .3rem solid;
					text-align: center;
					text-shadow: 0 1px 2px rgba($black, 0.5);
					box-shadow: 0 1px 2px rgba($black, 0.5);
					transition: all .3s ease-in-out;
					transform: scale(1);

					@media all and (min-width: $desktop) {
						padding: 3rem .5rem;
					}

					&, b{
						font-family: Aliens, Arial, sans-serif;
						font-size: 3rem;
						@media all and (min-width: $desktop) {
							font-size: 4rem;
						}
					}

					&:hover{
						transform: scale(1.05);
					}
		
				}
			}
		}
	}
}