#content-page{

	header{
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 5rem 0;
		box-shadow: 0px 0px 3px $black;;

		div{
			padding: 0 5rem 0 3.5rem;
			border-left: 1.5rem solid $yellow;

			h2{
				font-size: 5rem;
				margin:0;

				@media all and (min-width: $tablet) {
					font-size: 8.6rem;
				}
			}
			blockquote{
				margin: 5rem 0 0 0;
			}
		}
	}

	main{
		margin-top: 5rem;
		box-shadow: 0px 0px 3px $black;;
		padding: 5rem;
		position:relative;
		background: $black;

		&:before{
			content: '';
			display: block;
			height: 1px;
			width: 20rem;
			border-top: 1.5rem solid $yellow;
			position: absolute;
			top: 0;
			left: 5rem;
		}
	}
}