#content-page{

	header{
		h2{
			font-size: 5rem;
			margin:0;

			@media all and (min-width: $tablet) {
				font-size: 8.6rem;
			}
		}
	}

	main{
		margin-top: 5rem;
		padding: 0 1rem;
		position:relative;

		img{
			max-width: 100%;
		}

		.booking-package{
			color:$black;
		}
	}

	#booking-package{
		background-color: transparent;

		#booking-package_calendarPage{
			background-color: transparent;
		}

		#booking-package_inputFormPanel{
			background-color: transparent;
		}

		.calendar{
			color:black;
		}
	}

	.nav-investigators{
		.wp-block-column:not(:last-child){
			margin-right: 10px;
		}
		.wp-block-column:not(:first-child){
			margin-left: 10px;
		}
		figure{
			position: relative;
			transition: all .3s ease-in-out;
			transform: scale(1);

			&:hover{
				transform: scale(1.05);
			}

			a{
				img{
					width:100%;
					height: 225px;
					vertical-align: top;
					object-fit: cover;
				}
			}		
			figcaption{
				pointer-events:none;
				position: absolute;
				bottom: 0;
				left: 0;
				margin:0;
				background-color: rgba(255,255,255,0.5);
				color: black;
				width: 100%;
			}
		}
	}
}