aside#posts-list{
	width: 100%;
	max-width: $desktop;
	margin: 5rem auto;
	ul{
		padding: 0;
		margin: 0;
		display: block;
		@media all and (min-width: $tablet) {
			margin: 0 -2rem;
			display: flex;
			justify-content: center;
		}

		li{
			list-style: none;
			display: block;
			width: 100%;
			vertical-align: middle;
			width: 100%;
			max-width: 500px;
			margin: 0 auto 2rem auto;

			@media all and (min-width: $tablet) {
				margin: 0 0 2rem 0;
				padding: 0 2rem;
				min-height: 300px;
			}

			a{
				display: block;
				width: 100%;
				height: 100%;
				background-color: black;
				background-position: center top;
				background-size: cover;
				background-repeat: no-repeat;
				color: white;
				position: relative;
				transition: all .3s ease-in-out;

				&:hover{
					transform:scale(1.05);
				}

				&:before{
					content: '';
					position: absolute;
					top:0;
					left: 5rem;
					display: block;
					height: 0.1rem;
					width: 20rem;
					border-top: 1.5rem solid $yellow;
				}

				div{
					padding: 2rem 5rem;
					background-color: rgba(126, 98, 0, 0.3);
					background-color: rgba($yellow, 0.3);
					display: block;
					width: 100%;
					height: 100%;
					position: relative;

					h3 {
						font-size: 4rem;
						font-size: 4rem;
						position: absolute;
						top: 50%;
						left: 0;
						text-align: center;
						width: 100%;
						transform: translateY(-50%);
						margin: 0;
					}

					p{
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}