aside#posts-list{
	width: 100%;
	max-width: $desktop;
	margin: 5rem auto;
	ul{
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		@media all and (min-width: $tablet) {
			margin: 0 -2rem;
		}

		li{
			list-style: none;
			width: 100%;
			margin-bottom: 2rem;
			vertical-align: top;
			flex: 1 0 100%;

			@media all and (min-width: $tablet) {
				flex: 1 0 50%;
				padding: 0 2rem;
			}

			a{
				display: block;
				width: 100%;
				height: 100%;
				background-color: black;
				background-position: center top;
				background-size: cover;
				background-repeat: no-repeat;
				color: white;
				position: relative;

				&:before{
					content: '';
					position: absolute;
					top:0;
					left: 5rem;
					display: block;
					height: 0.1rem;
					width: 20rem;
					border-top: 1.5rem solid $yellow;
				}

				div{
					padding: 2rem 5rem;
					background-color: rgba(126, 98, 0, 0.3);
					background-color: #7E62004D;
					display: block;
					width: 100%;
					height: 100%;

					h3 {
						font-size: 4rem;
						margin: 1rem 0 2rem 0;
					}

					p{
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}