nav#top-menu{
	background: $black;
	
	div.wrapper{
		display: flex;
		justify-content: space-between;
		position: relative;

		h1{
			display: block;
			width: 13rem;
			height: 4rem;
			margin: 2rem 0.5rem 2rem 5rem;
			position: relative;
			
			a{
				background-image: url(../images/logo-blanc.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				text-indent: -9999px;
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		a#burger{
			line-height: 8rem;
			font-size: 3rem;
			padding: 0 2rem;
		
			@media all and (min-width: $tablet) {
				display: none;
			}
		}

		ul#main-menu{
			position: absolute;
			top:8rem;
			opacity: 0;
			left: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
			display: block;
			transition: left .3s, opacity .3s;
			pointer-events: none;

			&.active{
				pointer-events: all;
				left :0;
				opacity: 1;
			}
		
			@media all and (min-width: $tablet) {
				pointer-events: all;
				display: flex;
				line-height: 4rem;
				position: relative;
				top:0; left: 0;
				opacity: 1;
				width: auto;
			}

			li{
				list-style: none;
				text-align: center;
				background: $black;
				
				@media all and (min-width: $tablet) {
					margin-left: 5rem;
				}
				a{
					display: block;
					width: 100%;
					height: 100%;
					padding: 1rem 2.5rem;
					opacity: 0.5;
					color: white;
					font-size: 2rem;
					font-family: 'Mukta-Light', Arial, sans-serif;
					font-weight: 200;

					@media all and (min-width: $tablet) {
						padding: 0;
						line-height: 8rem;
					}

					&.current{
						border-right: 1rem solid $yellow;
						padding-right: 1.5rem;
				
						@media all and (min-width: $tablet) {
							position: relative;
							border-right: none;
							padding-right: 0;
						}

						&:after{
							@media all and (min-width: $tablet) {
								content: '';
								position: absolute;
								bottom: 0;
								left: 0;
								width: 100%;
								height: 0.1rem;
								border-bottom: 0.75rem solid $yellow;
								background: $yellow;
							}
						}
					}
					&:hover,
					&.current{
						opacity: 1;
					}
				}
			}
		}
	}
}