/* DIMENSIONS */
$mobile : 600px;
$tablet : 900px;
$desktop: 1200px;

/* COULEURS */
$white : #ffffff;
$black : #000000;
$yellow: #004c7e;

/* FONTS */
@font-face {
	font-family: "Mukta-Light";
	src: url("../fonts/Mukta-Light.woff2") format("woff2"),
 		url("../fonts/Mukta-Light.woff") format("woff"),
 		url("../fonts/Mukta-Light.ttf") format("ttf");
}

@font-face {
	font-family: "Mukta-Regular";
	src: url("../fonts/Mukta-Regular.woff2") format("woff2"),
 		url("../fonts/Mukta-Regular.woff") format("woff"),
 		url("../fonts/Mukta-Regular.ttf") format("ttf");
}

@font-face {
	font-family: "Mukta-Bold";
	src: url("../fonts/Mukta-Bold.woff2") format("woff2"),
 		url("../fonts/Mukta-Bold.woff") format("woff"),
 		url("../fonts/Mukta-Bold.ttf") format("ttf");
}

@font-face {
	font-family: "Aliens";
	src: url("../fonts/Aliens.woff2") format("woff2"),
 		url("../fonts/Aliens.woff") format("woff"),
 		url("../fonts/Aliens.ttf") format("ttf");
}

@font-face {
	font-family: "TopsyKret";
	src: url("../fonts/TopsyKret.woff2") format("woff2"),
 		url("../fonts/TopsyKret.woff") format("woff"),
 		url("../fonts/TopsyKret.ttf") format("ttf");
}