@import 'normalize/variables';
@import 'normalize/vertical-rhythm';
@import 'normalize/normalize-mixin';

@import 'variables';

html{
	font-size: 62.5%;
	min-height: 100%;

	body,
	body.custom-background{
		font-size: 1.4rem;
		background-image: url(../images/fond.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		color: $white;
		font-family: 'Mukta-Regular', Arial, sans-serif;
		font-size: 1.6rem;
		line-height: 1.5;
		margin: 0;
		overflow-x: hidden;

		& * {
			box-sizing: border-box;
		}

		a{
			color:$yellow;
			text-decoration: none;

			&:hover{
				color:darken($yellow, 20);
			}
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: 'Mukta-Light', Arial, sans-serif;
			font-weight: 200;
		}

		b, strong{
			font-family: 'Mukta-Bold', Arial, sans-serif;
			font-weight: normal;
		}

		div.wrapper {
			width: 100%;
			max-width: $desktop;
			margin: 0 auto;
		}
	
		@import 'parts/topmenu';
		@import 'parts/footer';
	}
}

@import 'parts/home';
@import 'parts/pages';
@import 'parts/posts';