@import 'normalize/variables';
@import 'normalize/vertical-rhythm';
@import 'normalize/normalize-mixin';

@import 'variables';

html{
	font-size: 62.5%;
	min-height: 100%;
	@media all and (min-width: $desktop) {
		margin-top: 0 !important;
	}
	body,
	body.custom-background{
		font-size: 1.4rem;
		// background-image: url(../images/fond-mobile.jpg);
		background-image: url(../images/home-fond-mobile.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: top center;
		background-attachment: fixed !important;
		color: $white;
		font-family: 'Mukta-Regular', Arial, sans-serif;
		font-size: 2.3rem;
		line-height: 1.5;
		margin: 0;
		overflow-x: hidden;

		@media all and (min-width: $tablet){
			background-position: top center;
			background-image: url(../images/home-fond-tablet.jpg);
		}
		@media all and (min-width: $desktop){
			background-image: url(../images/home-fond.jpg);
		}

		/* @media all and (min-width: $tablet){
			background-image: url(../images/fond.jpg);
		} */

		[hidden],
		.hidden {
			display: none;
		}

		& * {
			box-sizing: border-box;
		}

		a{
			color:$yellow;
			text-decoration: none;

			&:hover{
				color:darken($yellow, 20);
			}
			&:focus{
				outline: none;
			}

		}

		b, strong{
			font-family: 'Mukta-Bold', Arial, sans-serif;
			font-weight: normal;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: 'Aliens', Arial, sans-serif;
			font-weight: normal;
			b{
				font-family: 'Aliens', Arial, sans-serif;
				font-weight: bold;
			}
		}

		em, i{
			font-family: 'Mukta-Light', Arial, sans-serif;
			font-weight: normal;
			font-style: italic;
			
		}


		div.wrapper {
			width: 100%;
			max-width: 960px;
			margin: 0 auto;
		}

		button:focus {
			outline: none;
		}
	
		.wp-block-button{
			a, button {
				opacity: 0.8;
			}
			a:hover, button:hover {
				opacity: 1;
			}
		}

		@import 'parts/topmenu';
		@import 'parts/footer';

		.swal2-title {
			font-family: "Jakarta", Arial, sans-serif;
			font-size: 4.5em;
			margin: 0;
		}
		.swal2-content {
			font-size: 1.6em;
			line-height: 1.2;
		}

	}
}

@import 'parts/overrideWordpress';

@import 'parts/home';
@import 'parts/pages';
@import 'parts/posts';
@import 'parts/forms';

html body.home{
	nav#top-menu {
		div.wrapper {
			justify-content: flex-end;
		}
	}
}

/*
html body.blog{
	background-image: url(../images/fond1-mobile.jpg);
	@media all and (min-width: $tablet){
		background-image: url(../images/fond1.jpg);
	}
}

html body.page-id-21{
	background-image: url(../images/fond2-mobile.jpg);
	@media all and (min-width: $tablet){
		background-image: url(../images/fond2.jpg);
	}
}

html body.home{
	background-image: url(../images/home-fond-mobile.jpg);
	@media all and (min-width: $tablet){
		background-image: url(../images/home-fond-tablet.jpg);
	}
	@media all and (min-width: $desktop){
		background-image: url(../images/home-fond.jpg);
	}
}
*/